 /* importando la fuente de google font */
/* @import url('https://fonts.googleapis.com/css2?family=Sofia&family=Raleway:ital,wght@0,700;1,300&display=swap'); */
/* version 2 de google fonts */

/* @import url('https://fonts.googleapis.com/css?family=Raleway:ital,wght@0,700;1,300&effect=shadow-multiple&display=swap'); */
/* efecto shadow multiple */

@import url('https://fonts.googleapis.com/css?family=Raleway:ital,wght@0,700;1,300&effect=fire-animation&display=swap');
/* cargando efecto de google css v1 */

body {
    background: black url("https://images7.alphacoders.com/316/thumb-1920-316707.jpg") repeat-y top fixed;
}

.caja {
    float: left;
    width: 45%;
    height: 80px;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    box-shadow: 8px 15px 5px rgb(8, 8, 8);
    color: aliceblue;
}

h1 {
    text-align: center;
    letter-spacing: 4px;
    /* text-shadow: 8px 3px 5px rgb(180, 126, 126); */
    text-decoration: underline overline;
    /* font-size: 48px; */
    font: italic small-caps 700 48px 'anaglyph', sans-serif;
    /* de esta manera podemos escribir varias propiedades en una sola linea con Font, aqui inclui fuente google */
}

.caja.serif {
    background-color: rgb(122, 196, 38);
}

.fuente_times {
    font-family: 'Times New Roman', Times, serif;
    /* font-style: italic; */
    /* tipos de estilos con fuentes, cursiva, negritas, etc */
    font-variant: small-caps;
    /* Aplica upercase pero las primeras letras aplica mas altura */
}

.fuente_georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    /* controla la anchura de la fuente */
}

.caja.sans-serif {
    background-color: rgb(196, 154, 38);
    /* controla el tamaño de la fuente */
}

.fuente_arial {
    font-family: Arial, Helvetica, sans-serif;
}

.fuente_verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.caja.monospace {
    background-color: rgb(177, 17, 49);
}

.fuente_courier {
    font-family: 'Courier New', Courier, monospace;
    /* font-size: 1.2em;
    1 em == 16px */
    font-size: 1.6vw;
    /* view width, se ajusta al tamaño de pantalla tipo responsive */
}

.caja.cursiva {
    background-color: rgb(22, 120, 158);
}

.fuente_lucida {
    font-family: 'Lucida Handwriting', cursive;
    font-size: 20px;
}

